.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.section {
  background-color: rgba(45, 41, 40, 0.95);
}

.section.body {
  background-color: hsla(12, 0%, 100%, 0.95);
}

.section.body._1 {
  height: 500px;
  margin-top: 120px;
  background-color: #342122;
}

.container {
  max-height: 75px;
  max-width: 940px;
  background-color: rgba(45, 41, 40, 0.95);
}

.container.top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-height: none;
  max-width: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.container.top.bottom {
  display: block;
  height: auto;
  max-width: none;
  margin-top: 0px;
}

.heading {
  margin-bottom: -57px;
  font-family: Poppins, sans-serif;
  color: #b4605d;
  font-size: 60px;
  line-height: 90px;
  font-weight: 500;
  text-align: center;
}

.heading-2 {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 90px;
  font-weight: 100;
  text-align: center;
}

.image {
  text-align: left;
}

.div-block {
  width: 288px;
  height: 60px;
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff rgba(26, 9, 9, 0) #fff hsla(0, 0%, 100%, 0);
  border-radius: 2px;
}

.div-block:hover {
  background-color: transparent;
  color: #1b0c0c;
}

.link {
  display: inline-block;
  margin: 19px 19px 19px 34px;
  padding: 0px;
  font-family: Poppins, sans-serif;
  color: #f7b0a8;
  font-size: 25px;
  text-decoration: none;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border: 1px solid transparent;
}

.link-2 {
  margin-left: 58px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
}

.link-2._1 {
  display: block;
  margin-left: 20px;
  direction: ltr;
  text-align: left;
  text-transform: none;
}

.heading-3 {
  font-family: Poppins, sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.grid {
  margin-top: 80px;
  grid-column-gap: 80px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.text-block {
  margin-top: 35px;
  padding-left: 0px;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  line-height: 45px;
  text-align: left;
}

.containerbody {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.containerbody._1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.containerbody._2 {
  margin-top: 100px;
}

.containerbody.portfolio {
  margin-top: 37px;
}

.containerbody.test {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-2 {
  width: 139px;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  text-align: center;
}

.text-block-2._1 {
  width: 172px;
}

.text-block-3 {
  width: 139px;
  margin-top: 10px;
  margin-left: 0px;
  padding-left: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: center;
}

.text-block-3._1 {
  width: 172px;
}

.div-block-3 {
  text-align: center;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  padding-right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-4 {
  margin-top: 40px;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  line-height: 37px;
}

.paragraph {
  margin-top: 40px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 24.5px;
}

.div-block-6 {
  width: 60vw;
  margin-top: 0px;
  margin-left: 20px;
  padding-left: 0px;
}

.div-block-7 {
  margin-top: 31px;
}

.div-block-8 {
  margin-top: 5px;
}

.underline {
  width: 164px;
  height: 2px;
  margin-top: 25px;
  background-color: #4f2d2c;
}

.underline._1 {
  width: 96px;
  text-align: left;
}

.underline._2 {
  margin-top: 13px;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-4 {
  margin-top: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-flow: row;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 0.5fr 0.5fr;
  grid-template-columns: 0.5fr 0.5fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.workprocess {
  margin-top: 35px;
  margin-left: 25px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 25px;
  line-height: 22px;
  font-weight: 400;
}

.text-block-5 {
  margin-top: 17px;
  margin-left: 25px;
  font-family: 'Fredericka the Great', sans-serif;
  color: #000;
  font-size: 60px;
  line-height: 45px;
}

.picblock {
  position: relative;
  display: block;
  width: 450px;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 8px;
  background-color: rgba(237, 220, 94, 0.58);
}

.gridimg {
  position: static;
  left: 0px;
  top: 0px;
  right: 62px;
  bottom: 62px;
  display: block;
  margin: 24px;
}

.heading-4 {
  margin-top: 25px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.text-block-6 {
  margin-top: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.div-block-10 {
  width: 561px;
  height: 278px;
  margin-top: 50px;
  border-radius: 8px;
  background-color: #493738;
}

.text-field {
  height: 56px;
  margin-top: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #493738 #493738 #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #493738;
  font-family: Poppins, sans-serif;
  color: #fff;
}

.text-field-2 {
  height: 56px;
  margin-top: -10px;
  border-right: 1px solid #493738;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #493738;
  background-color: #493738;
  color: #fff;
}

.text-field-3 {
  height: 168px;
  margin-top: -10px;
  border-right: 1px solid #493738;
  border-bottom: 1px solid #493738;
  border-left: 1px solid #493738;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #493738;
  opacity: 1;
  color: #f1f1f1;
  text-align: left;
}

.submit-button {
  width: 134px;
  float: right;
  border-radius: 8px;
  background-color: #ec9538;
  opacity: 0.72;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 16px;
}

.text-block-7 {
  margin-top: 30px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sectionselect {
  height: 100vh;
  background-color: #2d2928;
}

.lottie-animation-3 {
  position: static;
  width: 100vw;
  height: auto;
}

.herocontent {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  margin-left: 23px;
  border-radius: 8px;
  background-color: rgba(106, 33, 33, 0.54);
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-6 {
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 23px;
  line-height: 26px;
  font-weight: 200;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 31px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 38px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-3 {
  font-family: Poppins, sans-serif;
  color: #343333;
  font-size: 18px;
  line-height: 24px;
  font-weight: 200;
  text-decoration: none;
}

.div-block-22 {
  margin-top: 0px;
}

.body-2 {
  border-style: solid;
  border-width: 1px;
  border-color: #9a7373;
  background-color: #fff;
}

.skillbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 175px;
  height: 53px;
  min-height: 53px;
  min-width: 175px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 206, 84, 0.7);
  font-family: Poppins, sans-serif;
  font-size: 25px;
  line-height: 37.5px;
}

.skillstrength {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 516px;
  height: 53px;
  min-height: 53px;
  min-width: 516px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffce54;
}

.skillstrength._01 {
  width: 430px;
  min-width: 430px;
}

.skillstrength._02 {
  width: 461px;
  min-width: 469px;
}

.skillstrengthtotal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 66px;
  height: 53px;
  min-height: 53px;
  min-width: 66px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0dedc;
}

.skillstrengthtotal._01 {
  width: 152px;
  min-width: 152px;
}

.skillstrengthtotal._02 {
  width: 112px;
  min-width: 112px;
}

.skill {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
}

.skilltext {
  font-size: 20px;
  text-align: left;
}

.skillstrengthno {
  margin-right: 22px;
}

.skillcontainer {
  margin-top: 120px;
  margin-right: 36px;
  margin-left: 0px;
}

.descriptioncontainer {
  margin-top: 120px;
  margin-right: 0px;
}

.darkshadow {
  position: absolute;
  left: 24px;
  top: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 403px;
  height: 232px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(12, 2, 2, 0.77);
}

.text-block-8 {
  margin-left: 0px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  text-align: justify;
}

.testwrapper {
  display: block;
  width: 325px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#w-node-ea1c2f9e-fae9-7e49-ac89-69b8398be4a1-6258103e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-c9894a65-b2e2-6061-91e4-6aef969f9a46-6258103e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
}

#w-node-_664aa413-de68-205c-5f79-24cc8304810c-6258103e {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_9331aeb4-a014-cb64-7c12-d75f4cca5c35-6258103e {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-bf60c823-7973-2273-335f-0cbf7e6d0678-6258103e {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-d9c3fb97-2115-b64c-827f-32ce411efece-6258103e {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_2ef80f78-4aa2-6dcd-1ae0-80381418a92b-6258103e {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_0ff8b7dc-256c-d550-4c7a-f6639bddd689-6258103e {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_872ae835-634f-9358-7a3f-f53c24d2ff76-6258103e {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-e2ab185e-8b31-b7a3-7569-cfe82db559db-6258103e {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_0e4d4835-3770-f887-7637-c9164fa4a91d-6258103e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b43666ee-bcd7-6ada-9802-674af1dfa173-6258103e {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_310feeac-9338-4e58-9f1a-30762df50eca-6258103e {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-a59c273c-bcbc-5837-5c7d-dd0467732d1e-6258103e {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_4fa7d767-e8ba-c622-6310-15178a1c8c5b-6258103e {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-a7103d2c-3e30-d404-1f90-89b641bd5224-6258103e {
  -ms-grid-column-align: start;
  justify-self: start;
}

